<!DOCTYPE HTML>
<html>

<head>
	<title>Climate Action Chatbot</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<link rel="stylesheet" href="static/assets/css/styles.css" />
</head>
<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo"><strong>Climate Action</strong> chatbot project</a>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a>
						</li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
					</ul>
				</header>

				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h1>Talk to our chatbot</h1>
							<p>
							<ul>
								<li>Our AI-powered chatbot provides eco-friendly alternatives for everyday activities,
									fuels, transport, and products. Whether you're looking to switch to green energy,
									reduce plastic use, or adopt sustainable travel options, this chatbot offers
									personalized,
									practical, and planet-friendly suggestions.</li>
								<li>

									By promoting conscious choices and reducing carbon footprints, it actively supports
									United Nations Sustainable Development Goal 13: Climate Action — helping individuals
									and communities combat climate change and its impacts through informed decisions.
								</li>
							</ul>
							</p>
						</header>
						<form method="post">
							<input type="text" id="user-input" name="input" placeholder="Enter your commodity" /><br>
							<input type="submit" value="Send" />
						</form>
					</div>
					<span class="image object">
						<img src="static/images/clim.png" alt="climate" />
					</span>
				</section>

				<!-- Dynamic Section -->
				<section>
					<h3>Environmental Impacts:</h3>
					<p>{{ result.res1 }}</p>
					<h3>Eco-Friendly Alternatives:</h3>
					<p>{{ result.res }}</p>
				</section>
				<!-- More Info Section -->
				<section>
					<header class="major">
						<h2>SDG 13 Targets</h2>
					</header>
					<div class="posts">
						<article>
							<a href="#" class="image"><img style="height: 250px; width: 90%;" src="static\images\Thinking-Long-Term-With-Climate-Change-800x450.jpg" alt="" /></a>
							<h3>Strengthen Resilience</h3>
							<p>Help countries adapt to climate-related hazards and disasters.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="#" class="image"><img style="height: 250px; width: 90%;" src="static/images/nation.jpg" alt="" /></a>
							<h3>Climate in Policies</h3>
							<p>Integrate climate actions into national policies and planning.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article><article>
							<a href="#" class="image"><img style="height: 250px; width: 90%;" src="static\images\25EPBS_Climate Change.jpg" alt="" /></a>
							<h3>Awareness & Education</h3>
							<p>Improve knowledge and capacity on climate change.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article><article>
							<a href="#" class="image"><img style="height: 250px; width: 90%;" src="static/images/paris.jpg" alt="" /></a>
							<h3>Global Commitment</h3>
							<p>Support and fulfill the UN climate agreements like the Paris Agreement.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
					</div>
				</section>
				
			</div>
		</div>
		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Fun Facts Section -->
				<section>
					<header class="major">
						<h2>Fun facts</h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="#" class="image"><img src="static/images/img2.jpg" alt="" /></a>
							<p>Restoring forests could absorb two-thirds of the carbon emissions caused by humans.</p>
						</article>
						<article>
							<a href="#" class="image"><img src="static/images/img3.jpg" alt="" /></a>
							<p>Switching to a plant-based diet can cut a person's food-related carbon footprint by 73%.
							</p>
						</article>
						<article>
							<a href="#" class="image"><img src="static/images/img4.jpg" alt="" /></a>
							<p>If food waste were a country, it would be the 3rd-largest greenhouse gas emitter.</p>
						</article>
						<article>
							<a href="#" class="image"><img src="static/images/ocean.jpg" alt="" /></a>
							<p>Oceans absorb over 90% of the excess heat and 25% of CO₂ we emit. But they're suffering:
						acidification, coral bleaching, and biodiversity loss are worsening.</p>
						</article>
					</div>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</section>
				<section>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
						<li class="icon solid fa-phone">(000) 000-0000</li>
						<li class="icon solid fa-home">1234 Somewhere Road #8254<br />Nashville, TN 00000-0000</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p>AI Chat bot for Sustainable Development</p>
				</footer>

			</div>
		</div>

	</div>

	<!-- External Scripts -->
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/browser.min.js"></script>
	<script src="static/assets/js/breakpoints.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>
	<script src="ibm_proj_langraph\templates\script.js"></script>

</body>

</html>